
body {
  font: 1.6em/1.6em "Roboto", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: normal;
  color: #666;
  font-weight: 300;
  font-style: normal;
  margin: 0.8rem 0 0.5rem 0;
}

h1, h2, h3 {
  font-style: normal;
  font-size: 2em;
  margin: 0;
  text-align: left;
  font-family: "Helvetica", sans-serif;
  text-transform: none;
}

h1 {
  color: #05afe7;
}

h2 {
  color: #555;
  font-size: 1.5em;
}

h2 b {
  color: #888;
}

h3 {
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: #ff9804;
}

a:hover {
  color: #ff6600;
}

p {
  margin-bottom: 1rem;
}

code {
  white-space: normal;
  font-size: 0.8em;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
  float: right;
}

.center {
  text-align: center;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  color: #fff;
  background-color: #05afe7;
  border: none;
  font-size: 1em;
  font-weight: 300;
  height: 3rem;
  line-height: 3rem;
  padding: 0rem 1rem;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #fff;
  text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2)
}

.button.grey {
  background-color: #aaa;
}

.button.orange {
  background-color: #f49a18;
}

.button.small {
  font-size: 0.9em;
  margin: 0;
  position: relative;
  top: 0.3rem;
  float: right;
  height: 2.2rem;
  line-height: 2.4rem;
  font-weight: 400;
  padding: 0 0.6rem;
}

nav .button.small {
  top: 0.4rem;
  background-color: #fff;
  color: #0ab1e8;
  opacity: 0.8;
  height: 2.6rem;
  line-height: 2.6rem;
}

nav .button.small:hover {
  text-shadow: none;
  opacity: 1.0;
}

.inline-buttons {
  text-align: center;
}

.inline-buttons .button {
  margin: 1rem 1rem 2rem 1rem;
}

ul.list {
  list-style: disc;
  padding: 0 0 0 2rem;
  color: #444;
}

ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

ul.inline li {
  display: inline-block;
  white-space: nowrap;
  padding: 0 2rem;
  margin: 0 0 0.2rem 0;
}

header, footer {
  background-color: #ff6600;
  background-color: #0ab1e8;
  border: none;
  margin:0;
  padding:0;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
    color: #ddd;
}

footer {
  clear: both;
  font-size: 0.9em;
  text-align: center;
  padding: 2rem 0 1rem 0;
}

footer p {
  color:#eee;
  font-size:0.8em;
}

footer form {
  margin:0;
}

header form {
  margin:0;
  padding:0;
}

header {
  min-height:3.2rem;
}

header .golang_news {
  text-transform:uppercase;
}

header nav {
  width: 100%;
  clear: both;
  font-weight: 300;
  padding-bottom:0.5rem;
}

header nav ul {
  margin:0;
  padding:0 0 0 1rem;
  list-style: none;
  line-height:2.8rem;
  clear:both;
}

header nav ul li {
  list-style: none;
  float:left;
  white-space: nowrap;
  padding:0 0.5rem;
  margin: 0;
}

header nav .sections {
  padding-top:0.2em;
}

header nav .user_badge {
  margin-right:1rem;
}


header nav .tags {
  padding:0rem 1rem 0rem 1rem;
  display:block;
}

header nav .tags li {
  padding:0 0.8rem;
}

header .tags li a {
  font-size:0.9em;
  color:#666;
  background-color:#eee;
}

header .tags li a:hover {
  color:#aaa;
}

header .title  {
  padding:0;
}

header .title .logo {
  font-size:1.3em;
  text-shadow:-0.25rem 0.25rem 0 rgba(10,134,174,0.5);
  font-weight:800;
  margin:0.4rem 1rem 0 1rem;
  position:relative;
  z-index:2;
  text-transform:uppercase;
  display:block;
}

header .title .long {
  display:none;
}

header .site_strap {
  display:none;
}

header .title .user_badge {
  text-align:center;
  width:100%;
  position:absolute;
  top:0.2rem;
  block-shadow:-0.25rem 0.25rem 0 #037aa1;
  margin:0 auto;
  padding:0;

}

header .user_badge .register {
  float:none;
  top:0.1rem;
  height:2rem;
  line-height:2rem;
  padding:0 0.5rem;
}


header .search {
  float:right;
  position:relative;
  z-index:2;
}


header .search img {
  width:22px;
  height:22px;
  padding:0.6rem 0.5rem 0 0;
}


header .search_form {
  overflow:hidden;
  height:3rem;
  padding:0 1.5rem;
  margin:0.5rem 0 1rem 0;
  clear:both;
  width:93%;
}

header .search_form input {
  color:#666;
  font-weight: 400;
  border-radius:0;
  font-size:1em;
  padding:0.5rem 0.7rem;
  line-height:1.8rem;
  height:auto;
  border:1px solid transparent;
  width:100%;
}

header .search_form input:focus {
  opacity:1.0;
}

header .submit .button {
 top:0rem;
}

header a {
  color: #fff;
}

header a:hover {
  color: #fff;
}


article {
  clear: both;
  padding: 0;
  min-height: 50rem;
  max-width: 110em;
  margin: 0 auto;
}

article.narrow {
  max-width: 80em;
  margin: 0 auto;
}

section {
  clear: both;
  display: block;
  padding: 1rem 2rem;
  margin: 1rem auto;
}

section.padded {
  padding: 0 2rem;
  max-width: 80em;
}

section.narrow {
  padding: 0 2rem;
  max-width: 50em;
}


/*  FORMS */

article form {
  padding: 1rem 0;
}

article form.nopadding {
  padding: 0;
}

label {
  color: #555;
  font-weight: normal;
}

.inline-fields .field {
  float: left;
  margin-right: 3rem;
}

.wide-fields .field {
  clear: both;
}

.wide-fields input {
  width: 100%;
}

section.actions {
  clear: both;
  padding: 0;
  text-align: center;
}

section.actions .button {
  margin-left: 2rem;
}


@media(min-width:750px) {

  section.actions {
    text-align: right;
    margin-top: -4.5rem;
  }
  section.actions .button {
    float: right;
  }

  header .site_strap {
    display:block;
    float:left;
    padding:0.2rem 0 0 0;
  }
  
  header .site {
    margin-right:0;
    padding-right:0;
  }
  
  header .search_form {
    text-align:center;
    width:97%;
  }
  
  header .site .logo {
    display:none;
  }
  
  header .title .long {
    display:block;
    margin:0.2rem 1rem 0 1rem;
  }
  
    header .title .site_strap {
      opacity:0.8;
    }
    
    header .submit {
      float:right;
      
    }

      header .submit .button {
       top:0rem;
      }

}

article .story {
  background-color: #f6f6ef;
  padding: 2rem;
}

textarea {
  width: 100%;
  min-height: 10em;
}