<form method="post" class="resource-update-form [[ .fragmenta_resources ]]_form">
    <input name="authenticity_token" type="hidden" value="{{.authenticity_token}}">
    
    <div class="actions">
        <input type="submit" class="button" value="Save">
        <a class="button grey" method="back">Cancel</a>
    </div>
  
    <div class="inline-fields">
    [[ .fragmenta_form_fields ]]
    </div>
    
    
</form>