<li {{ if odd .i }}class="odd"{{end}}>
    <a href="{{ .[[ .fragmenta_resource ]].URLUpdate }}">
      {{ .[[ .fragmenta_resource ]].Id }}
      {{ time .[[ .fragmenta_resource ]].UpdatedAt }}
    </a>
</li>
